@page
@model IndexModel
@{
    ViewData["Title"] = "Regeneration 2022";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>Learn about <a">Welcome to our world</a>.</p>
</div>
